@use "./styles/abstracts/functions" as *;
.search-history {
  h2 {
    font-size: 1.3rem;
    color: white;
    font-weight: 300;
  }
  .search-history-list {
    small {
      color: blackAlpha(0.8);
      font-weight: 300;
    }
     .search-history-item {
       margin: 0.5rem 0;
     }
  }
}
