@use '../../../styles/abstracts/mixins' as *;
.search-box {
  width: 80%;
  @include responsive(small) {
    width: 400px;
  }
}
.button-section {
  padding: 0.5rem 1rem;
}
.search-history-wrapper {
  margin-top: 3rem;
}
