@use "styles/abstracts/variable" as *;
@use "styles/abstracts/functions" as *;

.search-suggest{
  position: relative;
  .drop-down-list {
    list-style: none;
    border-radius: $primary-radius;
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    top: 55px;
    li {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $primary;
    }
  }
}
.active{
  &:after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: blackAlpha(0.5);
    z-index: -1;
  }
}
