@use "./styles/abstracts/variable" as *;
@use "./styles/abstracts/functions" as *;
@use "./styles/abstracts/mixins" as *;
:host{
  width: 100%;
}
.details-panel{
  margin-top: 10px;
  border-radius: $primary-radius;
  background-color: white;
  padding: 1rem;
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid blackAlpha(0.3);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    h2 {
      font-size: 1rem;
      @include responsive(xs-small) {
        font-size: 1.3rem;
      }

    }
  }
  .details-list{
    margin: 0;
    .details-list-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0.5rem 0;
      font-size: 0.8rem;
      @include responsive(xs-small) {
        flex-direction: row;
        gap: 30px;
      }
      dt{
        color: $primary;
        width: 25%;
      }
      dd{
        flex: 1;
        margin: 0;
        align-self: flex-start;
        @include responsive(xs-small) {
          align-self: flex-end;
        }
        color: black;
        font-size: 1rem;
        font-weight: 400;
        a{
          text-decoration: underline;
          color: $primary-bg;
        }
      }
    }
  }
}
