<div class="flex flex-center">
  <div class="search-box">
    <app-search-suggest
      (onSearch)="getQuery($event)"
      [optionLabel]="'name'"
      [formControl]="selectedItem"
      [loading]="breweriesRequest.isLoading()"
      [error]="breweriesRequest.error()"
      [itemKey]="'name'" [items]="breweriesRequest.data()">
      <div class="flex justify-end button-section">
        <button (click)="seeAll()" class="btn-primary">
          See all results
        </button>
      </div>
    </app-search-suggest>
  </div>
</div>
