<div class="flex flex-center">
  <div class="search-box">
    <app-search-suggest
      (onSearch)="getQuery($event)"
      [formControl]="selectedItem"
      [loading]="breweriesRequest.isLoading()"
      [error]="breweriesRequest.error()"
      [minQueryLength]="3"
      [items]="breweriesRequest.data()">
      @if ((breweriesRequest?.data()?.length || 0) > 4) {
        <div class="flex justify-end button-section">
          <button (click)="seeAll()" class="btn-primary">
            See all results
          </button>
        </div>
      }
    </app-search-suggest>
  </div>
</div>
