@use "./styles/abstracts/variable" as *;
@use "./styles/abstracts/mixins" as *;
:host{
  padding: 0.5rem 1rem;
  background: white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  @include shadow();
  cursor: pointer;
  &:hover{
    background-color: $secondary;
  }
  span{
    color: $primary;
    font-size: 14px;
  }
}
.item-title{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  span{
    &:first-child{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
    &:last-child {
      align-self: flex-end;
    }
  }
}
