<div>
    <app-input cdkOverlayOrigin #origin="cdkOverlayOrigin" (keydown.escape)="isOpenOverlay.set(false)"
               (onFocus)="openDropdown($event)"
               [formControl]="query"
               placeHolder="Seach here..." icon="search"/>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOpen]="isOpenOverlay()"
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayHasBackdrop]="false"
    (overlayOutsideClick)="restValue()"
    [cdkConnectedOverlayWidth]="origin.elementRef.nativeElement.offsetWidth"
    (detach)="isOpenOverlay.set(false)">
    @if(isOpenDetailsPanel()) {
      <app-item-details-panel [panelState]="isOpenDetailsPanel() ? 'open':'closed'" (panelStateChange)="onClosePanel()" [brewery]="selectedBrewery"/>
    } @else {
      @if(loading()) {
        <div class="empty-item">
          <app-spinner/>
        </div>
      } @else {
        @if (query.hasError('minlength')) {
          <div class="empty-item">
            <span>Type more characters…</span>
          </div>
        } @else if (error()) {
          <div class="empty-item">
            <span>{{ error() }}</span>
          </div>
        } @else if (items()?.length === 0) {
          <div class="empty-item">
            <span>{{ emptyMessage() ?? 'No items found' }}</span>
          </div>
        } @else {
          <div class="dropdown-wrapper">
            <ul class="drop-down-list">
              @for (item of items(); track item.id) {
                <li>
                  <button type="button" (click)="selectBrewery(item)">
                    {{ item.name }}
                  </button>
                </li>
              }
            </ul>
            @if (items()?.length) {
              <ng-content></ng-content>
            }
          </div>
        }
      }
    }
  </ng-template>
</div>
